.home-container{
    text-align: center;
}

.banner-img{
    max-width: 100%;
    margin: auto;
}

.heading{
    padding-top: 20px;
}

.global-stats{
    text-align: flex;
    padding: 80px 80px 80px 80px;
    /* background-color: #EFDCF9; */
    font-size: 1.5rem;
}

.stats-logo, .news-logo{
    width: 20%;
    padding: 10px 10px 10px 10px;
}

.home-heading-container{
    padding: 80px 80px 80px 80px;
    /* background-color: #FFDB58 ; */
}

.news{
    padding-top: 400px;
}

.news-description{
    padding-top: 80px;
}


